/output/
/telegram_token.txt
/Solution/classes.dot
/Solution/classes.vcg
/Solution/packages.dot
/Solution/packages.vcg
/Solution/venv3.7/
/Solution/.idea/
/Solution/.idea
/Solution/__pycache__/
