/output/
/telegram_token.txt
/Solution/classes.dot
/Solution/classes.vcg
/Solution/packages.dot
/Solution/packages.vcg
/Solution/venv3.7/
/Solution/.idea/
/Solution/.idea
/Solution/__pycache__/
/telegram_token_original.txt
/telegram_token_test.txt
/Solution/.idea/workspace.xml
